extends layout

block content
  img(src='/files/' + dados.photo alt='W3Schools.com' style='width:80%')
  p Nome: #{dados.firstName} #{dados.lastName}
  p Numero de Telemovel: #{dados.phone}
  p Email: #{dados.email}
  p Data de Nascimento: #{dados.dateOfBirth}
  p Género: #{dados.gender}
  if dados.description
    p Descrição: #{dados.description}
  a(href="/editProfile") Editar perfil
  br
  br
  h2 Publicações
  if dados.posts <= 0
    p Ainda não existem publicações
  else
    each post in dados.posts
      hr
      p Contéudo: #{post.content}
      p Data de publicação: #{post.dateOfCreation}
      hr
  h2 Meus Amigos
  if dados.friends <= 0
    p Ainda não tem amigos adicionados
  else
    p Apresenta Amigos